<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

<p class="text">
Сделать денежный перевод ПриватMoney можно в любом <a href="http://privatbank.ua/html/5_1_6r.html">отделении ПриватБанка</a> у вас в городе
</p>

<p class="text">
<b>Реквезиты для перевода:</b>
</p>

<p class="text">
Алексей Евтух<br />
Украина, г. Киев<br />
Моб. телефон: +38 (063) 233-5335<br />
</p>

<p class="text">
При отправлении, отметьте чтобы прислали SMS с <b>секретным кодом</b> на выше указанный мобильный телефон!
</p>

<p class="text">
<b>ВНИМАНИЕ:</b> Заказ будет отменен если оплата не поступит в течении <b>3 дней</b>
</p>

</body>
</html>