<div id="content">
	<div id="text-page">		


		<p>
		Сделать денежный перевод ПриватMoney можно в любом <a href="http://privatbank.ua/html/5_1_6r.html">отделении ПриватБанка</a> у вас в городе
		</p>

		<p>
		<b>Реквезиты для перевода:</b>
		</p>

		<p>
		Алексей Евтух<br />
		Украина, г. Киев<br />
		Моб. телефон: +38 (063) 233-5335<br />
		</p>

		<p>
		При отправлении, отметьте чтобы прислали SMS с <b>секретным кодом</b> на выше указанный мобильный телефон!
		</p>

		<p>
		<b>ВНИМАНИЕ:</b> Заказ будет отменен если оплата не поступит в течении <b>3 дней</b>
		</p>
		
	</div>
</div>

