<div id="content">
	<div class="back-nav"><a href="/shop/t-shirts"><span>&larr;</span> обратно в магазин</a></div>
	<div id="text-page">
		<h1><%= @page.title %></h1>
		<p class="text"><%= @page.body.gsub(/\n/, "<br />") %></p>
	</div>
</div>