<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Shuttle.in.ua — интернет-магазин футболок</title>
		<meta name="keywords" content=" " />
		<meta name="description" content="" />
		
		<link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
		
		<link rel="shortcut icon" href="/favicon.ico" />	
	</head>
	<body>
		<div id="header">
			<div id="logo"><a href="/"><img src="/i/logo.png" width="231" height="89" border="0" alt="на главную | Shuttle.in.ua интернет магазин футболок"></a></div>
			<div id="secondary-menu">
				<ul>
					<% for page in @pages %>
						<li><a href="<%= page.link %>"><%= page.title %></a></li>
					<% end %>			
				</ul>
			</div>
			<div class="right-part">
				<div id="phone">044 235 55 97</div>
				<div id="cart">
					<b>Корзина</b>
					<a href="#">3 товара на сумму 680 грн.</a>
				</div>
			</div>
			<br class="clearfix"/>
			<div class="clouds">			</div>
		</div>
		
		<%= yield %>
		
		<div id="footer">
			<div id="social-networks">
				<a href="http://lookatme.ru"><img src="/i/sn_lam.gif" border="0"></a>
				<a href="http://frendid.ru"><img src="/i/sn_frendid.gif" border="0"></a>
			</div>
			<div id="copyright">Shuttle.in.ua &copy; 2010</div>
			<br class="clearfix"/>
		</div>
		
	</body>
</html>